/* Globales */
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    font-family: Arial, Helvetica, sans-serif;
    color: #e4944a;
    background-image: url("img/aguayo2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #000;
}

.icon-cart:hover{
    cursor: pointer;
}

img{
    max-width: 100%;
}

/* Header */


.container-icon{
    position: relative;
}

.count-products{
    position: absolute;
    top: 55%;
    right: 0;

    background-color: black;
    color: rgb(255, 255, 255);
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: white;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}




/* Main */
.container-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
}

.item{
    border-radius: 10px;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 18px;
    font-weight: 900;
}

.info-product button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}





.footer{
    background-color: black;
    padding: 3.5rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 2rem;
    color: white;
    font-size: 2rem;
    text-align: center;
    
}
.nosotros{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10rem;
    margin-bottom: 20rem;
    
    }
    .nosotros-texto{
        color: white;
        font-size: 3rem;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .nosotros-img{
        background-color: white;
        border-radius: 5%;
    }
    
    .bloques{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20rem;
    }
    
    .bloques img{
        width: 20rem;
        margin-bottom: 2rem;
        height: 20rem;
    }
    .bloque-titulo{
        margin:0;
    }
    
    .bloque{
        text-align: center;
        color: white;
        font-size: 3rem;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 5rem;
    }
    .bloque-titulo{
        color: red;
        font-size: 4rem;
        margin: 3rem;
        text-transform: uppercase;
        font-weight: 800;
    }
    
    .enlace-footer:hover{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .boton{
        padding: 20px;
        background: linear-gradient(
            90deg,
            rgb(255, 166, 0)25%,
            rgb(233, 201, 57)100%);
        box-shadow: 0,0, 20px rgba(192,293,261,0.7);
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        font-size: 14px;
        cursor:pointer;
        border-radius: 45px; 
        text-decoration: none;
    }
    .boton:hover{
        background: rgb(153,47,252);
    }
.cart-empty{
    padding: 20px;
    text-align: center;
}

.bolis{
    font-size: 18px;
    font-weight: 900;
}

.header{
    background-color: #386EEB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    font-size: 25px;
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 50px;
    width: auto;
    transition: all 0.3s;
}


.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;    
}
.header .nav-links li:hover{
	background-color: #EBD956;
    border-radius: 30px;
}
.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: #eceff1;
    text-decoration: none;    
}


.header .btn button{
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: #e2f1f8;
    color: #e4944a;
    transform: scale(1.1);
}

.logo-img{
    
    margin: 3rem 0;
    height: 30rem;
    width: 130rem;
}
